################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/BlankQuest/BlankQuest/data
/BlankQuest/.vs/BlankQuest/v15
/BlankQuest/BlankQuest/x64/Debug
/BlankQuest/x64/Debug
